.btn-default{
  background-color: #512da8;
  color:#FFF;
  border-color: #2F3E48;
}

html{
  position: relative;
  min-height: 100%;
}

body{
    /* Margin bottom by footer height */
    margin-bottom: 100px;
    background-color: #f3f2f9;
}

.text-center{
  color: #512da8;
}